@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");

@import "tailwindcss";

@font-face {
    font-family: "Modern Negra";
    src: url("/fonts/Modern Negra Demo.ttf") format("truetype");
}

@theme {
    --color-yellow: #e7d393;
    --color-white-100: #efefef;
    --font-sans: "Mona Sans", sans-serif;
    --font-modern-negra: "Modern Negra", sans-serif;
    --font-serif: "DM Serif Text", serif;
}

html,
body {
    display: flex;
    width: 100%;
    background-color: white;
    color: black;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@utility flex-center {
    @apply flex justify-center items-center;
}

@utility col-center {
    @apply flex flex-col justify-center items-center;
}

@utility abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@layer components {
  main {
      @apply w-full overflow-x-hidden;
  }

  nav {
      @apply fixed z-50 w-full;

      div {
          @apply flex flex-row justify-between items-center gap-5 py-5 lg:px-0 px-5 container mx-auto;
      }

      p {
          @apply font-modern-negra text-3xl -mb-2;
      }

      a {
          @apply cursor-pointer font-sans text-nowrap md:text-base text-sm hover:underline;
        }

      ul {
          @apply flex-center lg:gap-12 gap-7;
      }
  }

  #hero {
    @apply relative z-10 w-full;

    h1 {
      @apply font-mono text-gray-600;
    }

    h2 {
      @apply font-mono text-gray-600;
    }
}
}

@layer utilities {
  .perspective {
    perspective: 1000px;
  }

  .hero-card-3d {
    transform-style: preserve-3d;
    position: relative;
    transition: transform 1s ease;
  }

  .card-face {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .card-face.back {
    transform: rotateY(180deg);
  }
}
